@font-face {
  font-family: 'Calibre-Regular';
  src: url('../../../dist/fonts/CalibreTest-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Calibre-Medium';
  src: url('../../../dist/fonts/CalibreTest-Medium.otf') format('opentype');
}

.appContainer {
  display: block;
  width: 300px;
  font-family: Calibre-Regular, Fallback Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: thin;
  border-color:#ebebeb;
}

.gridContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 250px;
}

.gridContainerNoButton {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-height: 250px;
}

.gridContainerSubTotal {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-height: 250px;

}

.priceContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #ebebeb;
}

.bookingButtonContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.bookingButton {
  font-family: Calibre-Medium;
  font-size: 19px;
  color: #ffffff;
  background-color: #40d9ac;
  border: none;
  outline: none;
}

.bookingButton:hover {
  color: #40d9ac;
  background-color: #ffffff;
  border: solid;
  border-color: #40d9ac;
  cursor: pointer;
}
.subTotalContainer {
  display: grid;
}

.perNight {
  color: #757575;
  height: fit-content;
}

.subTotalNumber {
  color: #333333;
  height: fit-content;
  font-family: Calibre-Medium;
  font-weight: bold;
  font-size: 26px;
}
