
.calendarContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 11fr
}

.dateWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.monthWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #f3f3f3;
  font-family: Calibre-Medium;
}

.weekWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekDay {
  font-family: Calibre-Medium;
  color: #333333;
  padding-left: 10px;
  padding-top: 5px;
}

.btnChangeMonth {
  position: relative;
  color: #333333;
}

.btnChangeMonth:hover {
  cursor: pointer;
}

.day {
  font-family: Calibre-Regular;
  padding-left: 11px;
  padding-top: 11px;
  border-style: solid;
  border-width: thin;
  border-color: #ebebeb;
  color: #333333;
}

.day:hover {
  cursor: pointer;
  background-color: #40d9ac;
  color: #ffffff;
}

.dayUnavailable {
  background-color: #ebebeb;
  color: #757575;
}

.dayUnavailable:hover {
  background-color: #ebebeb;
  cursor: default;
  color: #757575;
}

.daySelected {
  background-color: #40d9ac;
  color: #ffffff;
}

.dayText {
  position: absolute;
  font-size: 19px;
}

.slash {
  position: absolute;
  color: #757575;
}

.loadingIcon1 {
  width: 20%;
  margin: auto;
  margin-bottom: 150px;
}
