.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.checkDate {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding:10px;
  border-right: solid;
  border-right-color: #757575;
  border-right-width: thin;
  border-bottom: solid;
  border-bottom-color:#757575;
  border-bottom-width: thin;
}

.checkDateSelected {
  border-bottom-color: #ffffff;
}

.checkDate:hover {
  cursor: pointer;
}
.incrementCount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.guests {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  border-bottom: solid;
  border-bottom-color:#757575;
  border-bottom-width: thin;
}