.optionsContainer {
  display: grid;
  grid-template-columns: 38% 38% 24%;
}

.checkDate {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding:10px;
  border-right: solid;
  border-right-color: #ebebeb;
  border-right-width: thin;
  border-bottom: solid;
  border-bottom-color: #ebebeb;
  border-bottom-width: thin;
}

.checkDateSelected {
  border-bottom: none;
  background-color: #f3f3f3;
}

.checkDate:hover {
  cursor: pointer;
}

.check1 {
  font-family: Calibre-Medium;
  color: #333333;
  font-size: 18px;
}

.check2 {
  color: #333333;
  font-size: 18px;
}


.incrementCount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.guests {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  border-bottom: solid;
  border-bottom-color: #ebebeb;
  border-bottom-width: thin;
}